body {
  background-color: #FAE8EB;
  font-family: Quicksand;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
}


@font-face {
  font-family: 'Quicksand';
  src:
    url(font/Quicksand_Book.otf),
    url(font/Quicksand/Quicksand_Bold.otf),
    url(font/Quicksand/Quicksand_Light.otf.woff);
}

.header {
  font-size: 7vh;
  background-color: #f7b18e;
  color: #2E3066;
  text-align: center;
  align-items: center;
  padding: 30px;
}

.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 5vh;
  color: #2E3066;
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  background-image: url("pictures/desktop.png");
  background-size: cover;

}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  max-width: 450px;
  flex-shrink: 0;/* empêche Flexbox de rétrécir la div */
  align-self: center;
}

#avatar {
  width: 70%;
  height: auto;
  border-radius: 15%;
  border: solid #BA80B2;
  margin: 20px;

}

.myself {
  width: 35%;
  height: auto;
  max-width: 450px;
  flex-shrink: 0;
  font-size: 25px;
  text-align: center;

}

.iam {
  font-size: 30px;

}

.cta-button {
  background-color: #BA80B2;
  color: #2E3066;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
  display: inline-block;
  margin-top: 50px;
  margin-left: 90px;

}

.cta-button:hover {
  background-color: #f7b18e;
  transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}

#portfolio {
  background-color: #BA80B2;
  width: 100vw;
  max-width: 100%;
  height: 60vw;
}


.workstitle {
  display: block;
  width: 100vw;
  height: auto;
  flex-shrink: 0;
  font-size: 5vh;
  text-align: center;
  padding: 30px;
  box-sizing: border-box
}


.grille-projets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 30px;
}

.carte-projet {
  position: relative;
  width: 100%;
  padding-top: 130%;
  border-radius: 10px;
}

.carte-projet img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.infos-projet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: #2E3066;
  opacity: 0;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carte-projet:hover .infos-projet {. // effet au survol
  opacity: 1;
}

.infos-projet h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.infos-projet p {
  margin: 5px 0;
  font-size: 0.9em;
}

.infos-projet .liens a {
  color: #00ccff;
  text-decoration: none;
  margin: 0 5px;
}

#footer {
  background-color: #FAE8EB;
  color: #2E3066;
}

.info {
  display: grid;
  grid-column: 1;
  text-align: center;

}

.icon-link {
  color: #2E3066;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.icon-link:hover {
  color: #BA80B2;
}

a:focus,
button:focus,
img:focus {
  outline: 3px solid #f7b18e;
  /* contour visible */
  outline-offset: 4px;
  /* espace entre l'élément et le contour */
  border-radius: 6px;
}

@media (max-width: 768px) {
  .header {
    font-size: 5vh;
  }


  .container {
    width: 100vw;
    height: auto;
    flex-direction: column;
    text-align: center;
    background-image: url("pictures/mobile.png");
    background-size: cover;
  }

  .picture,
  .myself {
    width: 40%;
    max-width: none;
  }

  .myself {
    width: 100vw;
    height: auto;
    max-width: 450px;
    flex-shrink: 0;
    font-size: 20px;
    text-align: center;

  }

  .iam {
    font-size: 30px;

  }

  #portfolio {
    height: auto;
  }

  .workstitle {
    display: block;
    width: 100vw;
    height: auto;
    flex-shrink: 0;
    font-size: 5vh;
    text-align: center;
    padding: 30px;
    box-sizing: border-box
  }

  .grille-projets {
    grid-template-columns: repeat(2, 1fr);
  }
  .infos-projet h3 {
    font-size: 0.5em;
  }

  .infos-projet p {
    font-size: 0.2em;
  }

  .infos-projet .liens a {
    font-size: 0.2em;
  }
}

  .cta-button {
    margin: 20px auto;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

.head {
  font-size: 5vh;
}




